{% extends "base.html" %}
{% block content %}
<h1 align="center">Upload</h1>

<!-- upload de um arquivo excel csv de qualquer diretorio -->
    <br />
    <h2 align = 'center'>Abrir um arquivo de dados Excel .csv</h2>
    <br />
    <div  class="form-group">
        <form class="" action="" method="post" enctype="multipart/form-data">

            <input type="file" class='form-control' name="csvfile">
            <input type="submit" class="btn btn-primary btn-block" name="" value="Submit">
        
        </form>
    </div>



{% endblock %}