{% extends "base.html" %}
{% block content %}
<h1 align="center">Visualização de dados</h1>

<!-- upload de um arquivo excel csv de qualquer diretorio -->
    <br />
    <h2 align = 'center'>Upload de um arquivo de dados Excel .csv</h2>
    <br />
    <div align = 'center' class="">
        <form class="" action="" method="post" enctype="multipart/form-data">
            <input type="file" name="csvfile" value="">
            <input type="submit" class="btn btn-primary" name="" value="Submit">
        
        </form>
    </div>

{% endblock %}